.App {
    text-align: center;
}

*   {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

.App-header {
    background-color: #072AC8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
}

.pokeball-image {
    width: 200px;
    position: absolute;
    right: -40px;
    top: -40px;
    opacity: .7;
}

.search-main-div {
    margin: 50px 0 50px 0;
    width: 60%;
    height: 100%;
}

.label-div {
    display: flex;
    justify-content: flex-start;
}

.label {
    font-size: 70px;
    text-align: left;
}

.search-div {
    margin: 40px 0 40px 0;
    background-color: white;
    border-radius: 40px;
    display: flex;
    height: 75px;
}

.search-image {
    margin: auto 0 auto 20px;
}

.search-input {
    font-size: 28px;
    margin: 0 5px 0 20px;
    outline: none;
    border: none;
    width: 85%;
}

.search-button {
    background-color: black;
    border-radius: 40px;
    width: 120px;
    color: white;
    border: none;
    margin: 2px 2px 2px 2px;
    height: 95%;
    font-size: 25px;
}

#poke-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.pokemon-card {
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 5px 5px 5px #0000001a;
    margin: 20px 5px;
    padding: 0 8px;
}

.ui {
    margin: 10px;
}

.poke-image {
    width: 80px;
    height: 80px;
}

a {
    text-decoration: none;
}
